<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<title>nodeJs,get方式提交表单</title>
</head>

<body>
	<h1>注册</h1>
	<form id="signup" method="get" action="/users/do/sign">
		<label> 帐号：</label><input type="text" name="username" />
		<label> Email：</label><input type="text" name="email" />
		<input type="submit" value="注册" /><br>
	</form>
</body>

</html>
