<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<title>
		<%= title %>
	</title>
	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
</head>

<body>

	<h1>这是我的第一个Page！</h1>

	<script type="text/javascript">
		$(function() {
			$("h1").css("color", "red");
		});

	</script>

</body>

</html>
